
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:<weight>;
  font-style:normal;
}

/* nav releted contene */

.nav-continer{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1A0B2E;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.pl{
  color: #FFFFFF;
  max-width: 219px;
  margin: 30px 0px 30px 200px;
  
}
.linear{
  background: linear-gradient(#F7E93F,#FB09B4,#F7E93F);
;
}

.nav-box{

}
.nav-item{
  max-width: 218px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  gap: 32px;
  list-style: none;
  margin: 36px 0px 36px 0px;
  /* align-items: center; */
 
}
 
 

.btn-1{
  max-width: 135;
  margin: 24px 200px 24px 0px;
 
}
.btn{font-size: 16px;
  font-weight: 600px;
  color: #FFFFFF;
   padding: 16px 12px 16px 12px;
   background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    border-radius: 10000px;
    cursor: pointer;

}

/* banner teletad */


.banner-continer{

  max-width: 1600px;
  /* height: 760px; */
  margin: 0 auto;
  /* margin-left: 142px; */
 
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  /* border: 2px solid wheat; */
  text-align: center;
  padding: 100px 0px 100px 0px;
  border: 1px solid #1A0B2E;
}
.banner{
  max-width: 550px;
  margin: 0 auto;




}

.imag{
  max-width: 350px;
  border-radius: 50px;


}
.name{
  max-width: 550px;
  font-size: 60px;
  font-weight: 800px;
  color: #FFFFFF;
}
.bistarito{
  max-width: 550px;
  font-size: 16px;
  color: #FFFFFF;


}
.bt{
  max-width: 147px;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600px;
  color: #00FF88;
  padding: 16px 12px 16px 12px;
  background-color: transparent ;
  border: 2px solid #00FF88;
  cursor: pointer;
}

/* about-continer related */


.about-continer{
  max-width: 1600px;
  height:  642px;
  margin: 0 auto;
  background-color: #1A0B2E;
  text-align: center;
  border: 1px solid #1A0B2E;
}

.about{
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 50px; */
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  /* border: 3px solid wheat; */
}
.about-item{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  color: #FFFFFF;
}

.f-reat-continer{
  max-width: 1200px;
  margin: 250px 200px 120px 200px;

  display: flex;
  justify-content: center;
  gap: 80px;
}
 .reat-box{
  /* max-width: 240px; */
 }

.reat{
  font-size:48px ;
  font-weight: 900;
  color: #00FF88;
}

.reat-time{
  font-size: 16px;
  color: #FFFFFF;
}


/* box related */

.box-continerr{

  max-width: 1600px;
  height: 1121px;
  margin: 0 auto;
  background-color: #230E3D;
  border: 1px solid #230E3D ;
}


.box-name{
  max-width: 1200px;
  /* height: 743px; */
  text-align: center;
  font-size: 48px;
  font-weight: 700px;
  color: #FFFFFF;
  margin: 120px 200px 0px 200px;
  /* border: 3px solid wheat; */

}

.box-card{
  max-width: 1200px;
  margin: 40px 200px 120px 200px;
  /* border: 3px solid wheat; */
  
}

/* grid-area */

.box-card>*{
  /* border: 2px solid whitesmoke; */
  /* gap: 20px; */
  padding: 20px;
}

.card-name1{
  grid-area: headphone;
}


.card-name2{
  grid-area: device;
}

.card-name3{
  grid-area: location;
}
.card-name4{
grid-area: card-name4;
}
.card-name5{
  grid-area: resource;

}

.box-card{
  display: grid;
  gap: 30px;
  grid-template-areas: 
  
  "headphone device device device"
  "headphone location location location"
  "card-name4 card-name4 card-name4 resource "
}

.card-name1{
  max-width: 380px;
  border-radius: 40px;
  background-color: #351165;
}

.box-img{
  /* max-width: 60px; */
}
.img-name{
  /* max-width: 300px; */
  font-size: 24px;
  font-weight:700px ;
  color:  #FFFFFF;
}

.img-name-ex{
  /* max-width: 300px; */
  font-size: 16px;
  color: #FFFFFF;
}

.card-name2{
  /* max-width: 790px; */
  background-color: #351165;
  border-radius: 40px;
}

.card-name3{

  /* max-width: 790px; */
  background-color: #351165;
  border-radius: 40px;
}

.card-name4{
   /* max-width: 790px; */
  background-color: #351165;
  border-radius: 40px;

}
.card-name5{
  background-color: #351165;
  border-radius: 40px;


}


/* Featured-continer */

.Featured-continer{
  max-width: 1600px;
  height: 1276px;
  margin: 0 auto;
  background-color: #1A0B2E;
  border: 1px solid #1A0B2E ;
}

.Featured-name{
  max-width: 1200px;
  font-size:48px ;
  font-weight:700px ;
  color: #FFFFFF;
  text-align: center;
  margin:120px 200px 0px 200px;
}

.Featured-bax{
  max-width: 1200px;
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  margin: 0 auto;
  /* border: 2px solid wheat; */
  gap: 30px;
 
}

.Featured-card{
  /* max-width: 380px; */
  background-color: #250D44;


}
.Featured-video{
  /* max-width: 380px; */
  padding: 10px;


}
.video-name{
  font-size: 24px;
  font-weight: 700px;
  color: #FFFFFF;
  /* max-width: 332px; */
  padding: 10px;
  /* margin-top: 12px; */
}

.video-name-ex{

  font-size: 16px;
  color: #FFFFFF;
  padding: 10px;
  /* margin: 12px; */
}










@media screen and (max-width:576px){
.nav-continer{
  flex-direction: column;
  text-align: center;
}
.pl{
  margin: 30 30px 0px 30px 30px ;
  text-align: center;
}
.banner-continer{
  margin-left: 0px;
}

.about-item{

  
}

.f-reat-continer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* background-color: #230E3D; */
  height: 100%;

}
.box-name{text-align: start;}

.box-card{
  display: block;
  
  
  
  grid-template-areas: 
  
  "headphone "
  " device"
  "location"
  "card-name4"
  "resource"

  
}
.box-continerr{

  max-width: 1600px;
  height: 700px;
  margin: 0 auto;
  background-color: #230E3D;
  border: 1px solid #230E3D ;
}




}






 